@page "/wxposts"

@inject HttpClient http

<h3>Posts</h3>

<p><button class="btn btn-primary" @onclick="GetPosts">获取列表</button></p>

@if (wxPostDocuments.Count > 0)
{
<h4>订阅号历史消息</h4>

<div class="card" style="width:30rem;">
    <div class="card-body">
        @foreach (var post in wxPostDocuments) 
        {
        <p>@post.PostId</p>
        <img class="rounded m-1" src="@post.Thumbnail" />
        <p>@post.Title</p>
        <p>@post.PostDate</p>
        <p>@post.Description</p>
        <p>@post.Author</p>
        <p>@post.IsTop</p>
        <p>@post.PostType</p>
        <p>@post.Tags</p>
        <p>@post.Topic</p>
        <p><a href="@post.PostUrl" target="_blank">Read</a></p>
        }
    </div>
</div>
}

@code 
{ 
    private IList<WxPostDocument> wxPostDocuments = new List<WxPostDocument>();

    protected async override Task OnInitializedAsync(){

        //StateHasChanged();
    }

    private async Task GetPosts()
    {
        var apiRes = await http.PostAsJsonAsync<QueryBingImgParams>("https://openapi.axiangblog.com/getWxPosts/v1/", new QueryBingImgParams()
        {
            page = 1,
            pageSize = 50
        });
        var res = await apiRes.Content.ReadAsStringAsync();

        if (!string.IsNullOrEmpty(res))
        {
            try
            {
                var imgResult = System.Text.Json.JsonSerializer.Deserialize<WxPost_Response>(res);

                if (imgResult != null && imgResult.data != null && imgResult.data.Count() > 0)
                {
                    var allImgs = imgResult.data;
                    foreach (var item in allImgs)
                    {
                        wxPostDocuments.Add(item);
                    }
                }
            }
            catch (Exception ex)
            {

                throw;
            }

        }
    }
}
